@{
    ViewData["Title"] = "BOT小幫手";
}
@section Styles{

<div>
    <iframe src='https://webchat.botframework.com/embed/mist143mda-bot?s=YPZzm2dE_QU.nWqDzj-7VllSaxQSGpjeUPjIFHQNaDZbJAoj3nu8OVI' style='min-width: 400px; width: 100%; min-height: 450px;'></iframe>
</div>

@*<div>
    <iframe src='https://webchat.botframework.com/embed/mist143mda-bot?s=YPZzm2dE_QU.nWqDzj-7VllSaxQSGpjeUPjIFHQNaDZbJAoj3nu8OVI' style='min-width: 400px; width: 100%; min-height: 500px;'></iframe>
</div>*@
}