@model IEnumerable<ClientMDA.Models.商品資料product>

@{
    ViewData["Title"] = "M.D.A MAP";
    Layout = "~/Views/Shared/_WenLayout.cshtml";
}


<div style="display:block;height:40px;"></div>
<h4>商城地圖</h4>
<iframe src="https://www.google.com/maps/d/u/0/embed?mid=1dTzKJmnQDMv2O0j5CLOiFvCg7rGYqCs&ehbc=2E312F" width="640" height="480"></iframe>
