@model List<ClientMDA.ViewModels.CQANDAViewModel>
@{
    ViewData["Title"] = "Default"; @*評論問題*@
}

<div id="Qbox">
    <div class="accordion" id="accordionExample">
        @foreach (var q in Model.First().評論問題commentQa)
        {
            <div class="card" id="Qcard">
                <div class="card-header" id='heading_@q.評論問題commentQaId'>
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse_@q.評論問題commentQaId " aria-expanded="false" aria-controls="collapse_@q.評論問題commentQaId" id="Qbtn">@q.問題question</button>
                    </h2>
                </div>

                <div id="collapse_@q.評論問題commentQaId" class="collapse" aria-labelledby="heading_@q.評論問題commentQaId" data-parent="#accordionExample">
                    <div class="card-body">@Html.Raw(@q.答案answer)</div>
                </div>
            </div>
        }

    </div>
</div>